* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  position: relative;
  left: 50%;
  width: 10rem;
  margin-left: -5rem;
}
.swiper-container {
  height: 100vh;
}

.swiper-slide {
  overflow: hidden;
  background: #fff;
}
.overflow-y{
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* z-index: 2; */
}
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.animate-box {
  width: 100%;
  height: 100%;
}

.touch-mvoe {
  overflow: hidden;
}

.touch-div {
  position: relative;
  width: 100%;
  height: 100%;
}
.touch-content {
  box-sizing: border-box;
  padding-top: 2.8rem;
  height: 8.82rem;
  transform: translate3d(0, 0, 0);
  background: #fff;
}

.scroll-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 6.02rem;
}

.touch-animate .touch-content {
  transform: translate3d(0, -8.82rem, 0);
  transition: transform 0.5s linear;
}

.bg {
  width: 100%;
  height: 100%;
}
.bg-01, .bg-02, .bg-03, .bg-04, .bg-05, .bg-06 {
  background: url(../img/bg_01.jpg) no-repeat center;
  background-size: cover;
}

/* .bg-index-01-img {
  background: url(../img/bg_index_01.jpg) no-repeat center;
  background-size: cover;
} */
/* .bg-index-02-img {
  background: url(../img/bg_index_02.jpg) no-repeat center;
  background-size: cover;
} */
.bg-index-02-text {
  width: 2.23rem;
  height: 10.80rem;
  margin: -4.5rem 0 0 -3.5rem;
  background: url(../img/bg_index_02_text.png) no-repeat center;
  background-size: cover;
}

/* .bg-01 {
  background: url(../img/bg_011.jpg) no-repeat center;
  background-size: cover;
} */


.bg-01-img {
  width: 7.50rem;
  height: 4.18rem;
  margin: -2.35rem 0 0 -2.95rem;
  background: url(../img/bg_01_img.png) no-repeat center;
  background-size: cover;
}

.bg-01-text {
  width: 1.51rem;
  height: 3.75rem;
  margin: 1.98rem 0 0 1.8rem;
  background: url(../img/bg_01_text.png) no-repeat center;
  background-size: cover;
}

.bg-01-title {
  width: 5.75rem;
  height: 0.81rem;
  margin: -2.8rem 0 0 -3.2rem;
  background: url(../img/bg_01_title.png) no-repeat center;
  background-size: cover;
}
.bg-01-03 {
  background: #fff;
}

.bg-01-03-img {
  width: 6.70rem;
  height: 3.32rem;
  margin: -6.99rem 0 0 -2.65rem;
  background: url(../img/bg_01_03_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-01-03-text {
  width: 6.95rem;
  height: 9.72rem;
  margin: -3.22rem 0 0 -3.3rem;
  background: url(../img/bg_01_03_text.png) no-repeat center;
  background-size: cover;
}

.bg-01-03-title {
  width: 3.61rem;
  height: 2.88rem;
  margin: -6.92rem 0 0 -3.6rem;
  background: url(../img/bg_01_03_title.png) no-repeat center;
  background-size: cover;
}

.overflow-01-content {
  height: 9.50rem;
}

.overflow-02-content {
  height: 9.50rem;
}

.bg-02-img {
  width: 7.47rem;
  height: 4.10rem;
  margin: -2.35rem 0 0 -2.95rem;
  background: url(../img/bg_02_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-02-text {
  width: 1.48rem;
  height: 2.90rem;
  margin: 1.98rem 0 0 1.8rem;
  background: url(../img/bg_02_text.png) no-repeat center;
  background-size: cover;
}

.bg-02-title {
  width: 4.51rem;
  height: 0.80rem;
  margin: -2.8rem 0 0 -3.2rem;
  background: url(../img/bg_02_title.png) no-repeat center;
  background-size: cover;
}

.bg-02-02-text {
  width: 3.15rem;
  height: 2.74rem;
  margin: 4.81rem 0 0 0.21rem;
  background: url(../img/bg_02_02_title.png) no-repeat center;
  background-size: cover;
  z-index: 2;
}

.touch-animate .bg-02-02-text {
  transform: translate3d(0, -5.72rem, 0);
  transition: transform 0.5s linear;
}

.bg-02-03-text {
  width: 2.31rem;
  height: 2.87rem;
  margin: 4.7rem 0 0 1.04rem;
  background: url(../img/bg_02_03_title.png) no-repeat center;
  background-size: cover;
  z-index: 2;
}

.touch-animate .bg-02-03-text {
  transform: translate3d(0, -5.72rem, 0);
  transition: transform 0.5s linear;
}

.bg-02-02-03-img {
  width: 6.63rem;
  height: 3.43rem;
  margin: -7.05rem 0 0 -2.87rem;
  background: url(../img/bg_02_02_03_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-02-02-03-text {
  width: 6.84rem;
  height: 10.13rem;
  margin: -3.42rem 0px 0 -3.32rem;
  background: url(../img/bg_02_02_03_text.png) no-repeat center;
  background-size: cover;
}

.bg-02-02-03-title {
  width: 4.05rem;
  height: 2.88rem;
  margin: -6.94rem 0 0 -3.6rem;
  background: url(../img/bg_02_02_03_title.png) no-repeat center;
  background-size: cover;
}

.bg-03-img {
  width: 7.51rem;
  height: 4.17rem;
  margin: -2.35rem 0 0 -2.95rem;
  background: url(../img/bg_03_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-03-text {
  width: 1.48rem;
  height: 3.40rem;
  margin: 1.98rem 0 0 1.8rem;
  background: url(../img/bg_03_text.png) no-repeat center;
  background-size: cover;
}

.bg-03-title {
  width: 6.49rem;
  height: 0.85rem;
  margin: -2.8rem 0 0 -3.2rem;
  background: url(../img/bg_03_title.png) no-repeat center;
  background-size: cover;
}

.bg-04-img {
  width: 7.46rem;
  height: 4.13rem;
  margin: -2.35rem 0 0 -2.95rem;
  background: url(../img/bg_04_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-04-text {
  width: 1.23rem;
  height: 4.20rem;
  margin: 1.98rem 0 0 2.1rem;
  background: url(../img/bg_04_text.png) no-repeat center;
  background-size: cover;
}

.bg-04-title {
  width: 5.85rem;
  height: 0.88rem;
  margin: -2.9rem 0 0 -3.2rem;
  background: url(../img/bg_04_title.png) no-repeat center;
  background-size: cover;
}

.bg-04-03 {
  background: url(../img/bg_04_03.jpg) no-repeat center;
  background-size: cover;
}

.bg-04-03-img {
  width: 6.79rem;
  height: 3.55rem;
  margin: -6.99rem 0 0 -2.65rem;
  background: url(../img/bg_04_03_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-04-03-text {
  width: 6.94rem;
  height: 9.94rem;
  margin: -3.21rem 0 0 -3.32rem;
  background: url(../img/bg_04_03_text.png) no-repeat center;
  background-size: cover;
}

.bg-04-03-title {
  width: 3.06rem;
  height: 2.88rem;
  margin: -6.92rem 0 0 -3.6rem;
  background: url(../img/bg_04_03_title.png) no-repeat center;
  background-size: cover;
}

.overflow-04-content {
  height: 9.50rem;
}
/* .bg-05 {
  background: url(../img/bg_055.jpg) no-repeat center;
  background-size: cover;
} */

.bg-05-img {
  width: 7.40rem;
  height: 4.13rem;
  margin: -2.35rem 0 0 -2.85rem;
  background: url(../img/bg_05_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-05-text {
  width: 1.45rem;
  height: 3.20rem;
  margin: 1.98rem 0 0 1.8rem;
  background: url(../img/bg_05_text.png) no-repeat center;
  background-size: cover;
}

.bg-05-title {
  width: 5.04rem;
  height: 1.03rem;
  margin: -3.2rem 0 0 -3.2rem;
  background: url(../img/bg_05_title.png) no-repeat center;
  background-size: cover;
}

.bg-05-02 {
  background: url(../img/bg_05_02.jpg) no-repeat center;
  background-size: cover;
}

.bg-05-03-text {
  width: 3.06rem;
  height: 5.76rem;
  margin: -5.31rem 0 0 -1.42rem;
  background: url(../img/bg_05_03_text.png) no-repeat center;
  background-size: cover;
}

.bg-05-04-img {
  width: 8.08rem;
  height: 6.07rem;
  margin: -6.41rem 0 0 -4.02rem;
  background: url(../img/bg_05_04_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-05-04-text {
  width: 1.73rem;
  height: 5.86rem;
  margin: 0.81rem 0 0 -0.85rem;
  background: url(../img/bg_05_04_text.png) no-repeat center;
  background-size: cover;
}

.bg-05-05-text {
  width: 2.14rem;
  height: 7.21rem;
  margin: -6.79rem 0 0 -1.25rem;
  background: url(../img/bg_05_05_text.png) no-repeat center;
  background-size: cover;
}

.bg-05-07-img {
  width: 7.39rem;
  height: 5.71rem;
  margin: -5.41rem 0 0 -3.80rem;
  background: url(../img/bg_05_07_img.jpg) no-repeat center;
  background-size: cover;
}

.bg-05-07-text {
  width: 4.49rem;
  height: 4.62rem;
  margin: 2.51rem 0 0 -1.05rem;
  background: url(../img/bg_05_07_text.png) no-repeat center;
  background-size: cover;
}

/* .bg-05-07 {
  background: url(../img/bg_05_077.jpg) no-repeat center;
  background-size: cover;
} */

/* .bg-end-01-img {
  background: url(../img/bg_end_01.jpg) no-repeat center;
  background-size: cover;
} */

/* .bg-end-02-img {
  background: url(../img/bg_end_02.jpg) no-repeat center;
  background-size: cover;
} */

.bg-end-02-text {
  width: 5.75rem;
  height: 8.28rem;
  margin: -4.12rem 0 0 -2.9rem;
  background: url(../img/bg_end_02_text.png) no-repeat center;
  background-size: cover;
}

/*animate*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-0.5rem, 0, 0);
    transform: translate3d(-0.5rem, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-0.5rem, 0, 0);
    transform: translate3d(-0.5rem, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0.5rem, 0, 0);
    transform: translate3d(0.5rem, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0.5rem, 0, 0);
    transform: translate3d(0.5rem, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0.5rem, 0);
    transform: translate3d(0, 0.5rem, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0.5rem, 0);
    transform: translate3d(0, 0.5rem, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -0.5rem, 0);
    transform: translate3d(0, -0.5rem, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -0.5rem, 0);
    transform: translate3d(0, -0.5rem, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}